.header__top {
    z-index: 99;
}
.navbarTop {
    border-bottom: 2px solid;
    margin-bottom: 20px;
    box-shadow: 1px 10px 20px  lightgrey;
}
.logo__link > img {
    height: 70px;
    object-fit: contain;
    z-index: 99;
}
.link {
    
    color: #111;
}
.link:hover {
    text-decoration: none;
    color: #111;
    border-bottom: 2px solid green;
}

.link:active {
    border-bottom: 2px solid;
}