.about_page {
    background-color: #f9f9f9;
}
.about {
    position: relative;
    height: 700px;
    overflow: hidden;
    
    
}
.about::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, lightgrey,gray);
    height: 500px;
    top: 0;
    width: 200%;
    margin-top: -100px;
    margin-left: -50px;
    height: 100%;
    transform: rotate(-3deg);
}

.skill__section {
   
}
.skills_page {
    position: relative;
    overflow: hidden;
    
    background-color: #ece7e7;
    margin-bottom: 30px;
}

.skills div {
    margin-bottom: 10px;
}
.skills div span {
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
}
.skills span {
    background-color: gray;
    color: white;
    margin: 10 20px;
    padding: 3px 7px;
    border-radius: 4px;
}

@media (max-width:768px){
    .about {
        height: 820px;
    }
    .about_status{
        margin-top: 5px;
    }
}